# Python
BusinessLensAI_Backend/.venv/
BusinessLensAI_Backend/.env
BusinessLensAI_Backend/__pycache__/
BusinessLensAI_Backend/.pytest_cache/

# Python cache (global)
**/__pycache__/
*.pyc
.pytest_cache/

# Node
BusinessLensAI_Frontend/node_modules/
BusinessLensAI_Frontend/dist/

# Environment
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log